/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg/bg-1.jpg); /*url is either relative or absolute file path to where image is located*/
    background-repeat: no-repeat; /*To avoids the repeat of bg image especially if its small size*/
    background-position: center; /*Set the position of bg to center*/
    background-attachment: fixed; /*Sets whether a bg image scrolls with the rest of page or it is fixed and position to the middle of the screen or viewfort*/
    background-size: cover; /*Now image was taking up the entire screen of the bg*/
    
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 15px;
    max-width: fit-content;
    height: -100px;
    margin: 30px auto;
    padding: 50px 55px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.25);
    background-color: hsla(150, 96%, 64%, 0.631);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
}

.header {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 45px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.credentials {
    padding: 12px 10px;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 90%)

}

label {
    font-size: 1.4rem;
}

.register-btn {
    margin-top: 10px;
    margin-bottom: -40px;
    margin-left: 120px;
    padding: 11px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 11%);
    cursor: pointer;
    transition: background-color 0.25s;
}

.register-btn:hover {
    background-color: hsl(150, 88%, 47%);
}

.register-btn:active {
    opacity: 0.8;
    transition: opacity 0.10s;
}

.footer {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 2px rgba(212, 212, 212, 0.672);
    margin-bottom: 10px;
}
