.main-container {
  margin: auto;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1100px;
  background-color: burlywood;
}

.first-container {
  display: inline-block;
  align-items: center;
  
}

.resto-name {
  margin-left: 390px;
  margin-bottom: 40px;
  font-family: cursive;
  color: hsl(0, 0%, 8%);
  text-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.25);

  /*Animation property within the box*/
  animation-name: colorChange; /*changing the color of an element/box*/

  /*Animation duration property*/
  animation-duration: 5s;

  /* animation-iteration-count */
  animation-iteration-count: infinite;
  
}

/* Animation : colorChange */
@keyframes colorChange { /*changing the color of an element/box*/
  0%{color: hsl(0, 0%, 22%)} /*0% changing bg color of an element/box to light red*/
  20%{color: hsl(3, 100%, 74%)} /*20% changing bg color of an element/box to orange*/
  40%{color: hsl(0, 0%, 58%)} /*40% changing bg color of an element/box to yellow*/
  60%{color: hsl(0, 0%, 86%)} /*60% changing bg color of an element/box to light green*/
  80%{color: hsl(0, 100%, 60%)} /*80% changing bg color of an element/box to light blue*/
  100%{color: hsl(0, 0%, 9%)} /*100% changing bg color of an element/box to purple*/
}

li {
  margin-bottom: 10px;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: hsl(0, 0%, 8%);

}

/* .ramens {
  
} */

.second-container {
  display: inline-block;
  align-items: center;
  margin-top: -10px;
}

/* .prices {
  
} */

.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 123px;
  padding: 10px 5px;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 1100px;
  background-color: burlywood;
}