body {
  background-color: hsl(0, 0%, 91%);
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 50px;
  margin-left: 300px;
  padding: 20px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: hsl(240, 100%, 66%);
  max-width: 280px;
}

.username {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: hsl(0, 0%, 81%);
  margin-bottom: -5px;
}

.password {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: hsl(0, 0%, 81%);
  margin-bottom: -10px;
}

.login {
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: hsl(0, 0%, 69%);
  color: hsl(0, 0%, 11%);
  cursor: pointer;
  transition: background-color 0.25s;
}

.login:hover {
  background-color: hsl(0, 0%, 46%);
}


label {
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: -5px;
  color: hsl(0, 0%, 11%);
}

.logout {
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 69%);
  color: hsl(0, 0%, 11%);
  cursor: pointer;
  transition: background-color 0.25s;
}

.logout:hover {
  background-color: hsl(0, 0%, 46%);
}